h1{text-align:center;
  color:green;
  font-size:30pt;
}
 h2{color:#740562;
  font-size:30pt;
}p{font-size:20pt;}body{background-color:RGB(244,180,135);}
li{
  color:#ECFD946;
  font-size:20px;
}
table{border-style:solid;}